/* CSS For Desktop */
@font-face {
  font-family: "proxima-nova";
  src: url("../font/ProximaNova-Regular.woff") format("woff"),
    url("../font/ProximaNova-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --primary-black: #222222;
  --secondary-black: #4a4a4a;
  --additional-black: #5d5d5d;
  --primary-gray: #6c6c6c;
  --secondary-gray: #939eab;
  --additional-gray: #f3f5fa;
  --primary-red: #dd1f1f;
  --primary-green: #01a19a;
  --secondary-green: #008a84;
  --primary-line: #e6eaee;
  --disabled-font: #8b8b8b;
  --primary-blue: #354052;
  --secondary-blue: #3081f8;
  --addtional-blue: #293955;
}

html {
  margin: 0;
  padding: 0;
  font-family: "proxima-nova";
}

button {
  font-family: "proxima-nova";
}

body {
  padding: 45px 42px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Header Styles */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.device-sect {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.device-state {
  display: flex;
  flex: row;
  align-items: center;
  gap: 24px;
}

.device-state span {
  height: 15px;
  width: 1px;
  background-color: var(--primary-gray);
}

.device-desc {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.device-state p,
.title {
  margin: 0;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: var(--primary-black);
}

.device-state p {
  font-size: 13px;
  color: var(--primary-gray);
}

.device-act {
  width: fit-content;
  display: flex;
  align-items: end;
}

.device-act button {
  width: 120px;
  height: 30px;
  border: 1px solid var(--primary-red);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  line-height: 13.4px;
  letter-spacing: 1px;
  color: var(--primary-red);
  background-color: white;
  cursor: pointer;
}

.power-sect {
  width: 100%;
  padding: 15px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-gray);
  border-top: 1px solid var(--primary-line);
  border-bottom: 1px solid var(--primary-line);
}

.power-state {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
  color: var(--secondary-black);
}

.power-state p {
  margin: 0;
  line-height: 25px;
}

.power-state .stats {
  font-weight: 600;
  color: var(--primary-green);
}

.action-btn {
  display: flex;
  gap: 10px;
}

.action-btn button {
  width: 80px;
  height: 24px;
  background-color: white;
  font-size: 11px;
  line-height: 13.4px;
  color: var(--primary-gray);
  border: 1px solid var(--primary-green);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: var(--additional-black);
}

.action-btn .disabled {
  background-color: var(--additional-gray);
  border-color: transparent;
  cursor: default;
  color: var(--disabled-font);
}

/* Main Contents */
/* Menu Styles */
.menu {
  width: 100%;
  border: 1px solid var(--primary-line);
  border-radius: 4px;
  padding: 15px 0 50px 0;
  background-color: white;
}

.tab-menu {
  padding: 0 40px;
  border-bottom: 1px solid rgba(230, 234, 238, 0.19);
  display: flex;
  gap: 25px;
}

.tab-menu button {
  position: relative;
  border: none;
  background-color: transparent;
  width: fit-content;
  padding: 15px 0;
  cursor: pointer;
  font-size: 16px;
  line-height: 19.49px;
  color: #6c6c6c;
  border-bottom: 2px solid transparent;
}

/* .tab-menu button:focus {
  color: #222222;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-green);
} */

.tab-menu .active {
  color: var(--primary-blue);
  font-weight: 600;
  border-bottom: 2px solid var(--primary-green);
}

.detail-menu {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: var(--secondary-black);
}

.detail-title {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  color: var(--secondary-black);
}

.attach-detail,
.instance-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attach-detail {
  margin-bottom: 25px;
}

.attach-detail form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.attach-detail form .select-options {
  width: 100%;
  padding: 10px 20px;
  border-radius: 4px;
  border-color: var(--primary-line);
  font-size: 14px;
  line-height: 22.5px;
  color: var(--secondary-black);
}

.attach-detail form button {
  width: 150px;
  height: 40px;
  padding: 12px 50px;
  font-size: 11px;
  font-weight: 600;
  line-height: 13.4px;
  letter-spacing: 1px;
  color: white;
  background-color: var(--primary-green);
  background-image: linear-gradient(#01a19a, #008a84);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

#instance-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#instance-table thead th {
  font-size: 14px;
  font-weight: 400;
  line-height: 27px;
  color: var(--secondary-gray);
  padding: 14px 20px;
  border-bottom: 1px solid var(--primary-line);
}

#instance-table tbody td {
  font-size: 14px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0.54px;
  color: var(--addtional-blue);
  padding: 24px 20px;
  border-bottom: 1px solid var(--primary-line);
}

#instance-table tbody #network-title {
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 0.54px;
  color: var(--secondary-blue);
}

.more-options-field {
  position: relative;
}

.more-options {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-menu {
  display: none;
}

.options-menu button {
  border: none;
  width: 130px;
  padding: 10px 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  line-height: 22.5px;
  color: var(--primary-black);
}

.more-options-field .options-menu.active {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 66px;
  width: fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 10px 20px;
  background-color: white;
  background: white;
  border-radius: 2px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.more-options-field .options-menu.active::before {
  content: "";
  position: absolute;
  z-index: 999;
  top: -7px;
  right: 44px;
  transform: translateX(-25%);
  height: 15px;
  width: 15px;
  background-color: white;
  transform: rotateZ(45deg);
  box-shadow: -1px -1px 1px #eeeeee;
}

#line {
  width: 100%;
  height: 1px;
  background-color: var(--primary-line);
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  pointer-events: none;
  opacity: 0;
}

.overlay.active {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  margin: auto auto;
  z-index: 9999999;
  max-height: 320px;
  max-width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.25);
  padding: 30px 40px 50px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  /* gap: 42px; */
}

.close-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.close-btn .close {
  border: none;
  background: none;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  stroke-width: 1.5px;
  stroke: black;
}

.modal-title,
.modal-desc {
  margin: 0;
  text-align: center;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0.3px;
  color: var(--secondary-black);
  margin-bottom: 30px;
}

.modal-desc {
  max-width: 420;
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--secondary-black);
  margin-bottom: 62px;
}

.modal-actions {
  width: 100%;
  display: inline-flex;
  gap: 20px;
  justify-content: center;
}

.cancel-btn,
.accept-btn {
  height: 40px;
  width: 200px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 13.4px;
  cursor: pointer;
}

.cancel-btn {
  color: #939eab;
  background-image: linear-gradient(#f0f4f9, #d3dde8);
}

.accept-btn {
  color: white;
  background-image: linear-gradient(#01a19a, #008a84);
}
