/* CSS For Desktop */

:root {
  --primary-black: #222222;
  --primary-gray: #6c6c6c;
  --secondary-gray: #939eab;
  --primary-red: #dd1f1f;
  --primary-green: #01a19a;
}

html {
  margin: 0;
  padding: 0;
  font-family: "proxima nova";
}

body {
  padding: 40px 42px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

/* Header Styles */
header {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.device-sect {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.device-state {
  display: flex;
  flex: row;
  align-items: center;
  gap: 24px;
}

.device-state span {
  height: 15px;
  width: 1px;
  background-color: var(--primary-gray);
}

.device-desc {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.device-state p,
.title {
  margin: 0;
}

.title {
  font-size: 20px;
  font-weight: 500;
  color: var(--primary-black);
}

.device-state p {
  font-size: 13px;
  color: var(--primary-gray);
}

.device-act {
  width: fit-content;
  display: flex;
  align-items: end;
}

.device-act button {
  width: 120px;
  height: 30px;
  border: 1px solid var(--primary-red);
  border-radius: 4px;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 500;
  color: var(--primary-red);
  background-color: white;
  cursor: pointer;
}

.power-sect {
  width: 100%;
  padding: 20px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-gray);
  border-top: 1px solid whitesmoke;
  border-bottom: 1px solid whitesmoke;
}

.power-state {
  display: flex;
  align-items: center;
  gap: 20px;
  font-size: 14px;
}

.power-state .stats {
  font-weight: 500;
  color: var(--primary-green);
}

.action-btn {
  display: flex;
  gap: 10px;
}

.action-btn button {
  width: 80px;
  height: 24px;
  background-color: white;
  font-size: 11px;
  color: var(--primary-gray);
  border: 1px solid var(--primary-green);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.action-btn .disabled {
  background-color: whitesmoke;
  border-color: transparent;
  cursor: default;
}

/* Main Contents */
/* Menu Styles */
.menu {
  width: 100%;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  padding: 18px 0;
}

.tab-menu {
  padding: 0 40px;
  border-bottom: 1px solid whitesmoke;
  display: flex;
  gap: 25px;
}

.tab-menu button {
  position: relative;
  border: none;
  background-color: transparent;
  width: fit-content;
  padding: 18px 0;
  cursor: pointer;
  font-size: 16px;
  color: #6c6c6c;
  border-bottom: 2px solid transparent;
}

/* .tab-menu button:focus {
  color: #222222;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-green);
} */

.tab-menu .active {
  color: #222222;
  font-weight: 600;
  border-bottom: 2px solid var(--primary-green);
}

.detail-menu {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.subtitle {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.detail-title {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
}

.attach-detail,
.instance-detail {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.attach-detail form {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.attach-detail form .select-options {
  width: 100%;
  padding: 12px 20px;
  border-radius: 4px;
  border-color: whitesmoke;
  font-size: 14px;
}

.attach-detail form button {
  width: 150px;
  height: 40px;
  padding: 12px 50px;
  font-size: 11px;
  font-weight: 600;
  color: white;
  background-color: var(--primary-green);
  background-image: linear-gradient(#01a19a, #00726c);
  border: none;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
}

#instance-table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}

#instance-table thead th,
#instance-table tbody td {
  padding: 24px 20px;
  border-bottom: 1px solid whitesmoke;
}

#instance-table thead th {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary-gray);
}

#instance-table tbody td {
  font-size: 14px;
  font-weight: 400;
  color: #293955;
}

#instance-table tbody #network-title {
  font-size: 14px;
  font-weight: 600;
  color: #3081f8;
}

.more-options-field {
  position: relative;
}

.more-options {
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.options-menu {
  display: none;
}

.options-menu button {
  border: none;
  padding: 10px 0;
  background-color: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 13px;
  color: var(--primary-black);
}

.more-options-field.active .options-menu {
  position: absolute;
  z-index: 99;
  right: 0;
  top: 60px;
  width: 140px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 18px;
  background-color: white;
  background: white;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  box-shadow: 0 2px 6px var(--secondary-gray);
}

.more-options-field.active::before {
  content: "";
  position: absolute;
  z-index: 999;
  top: 41px;
  right: 38px;
  transform: translateX(-25%);
  height: 20px;
  width: 20px;
  background-color: white;
  clip-path: polygon(50% 40%, 100% 100%, 0 100%);
  box-shadow: 0 1px 4px #6c6c6c;
}

.more-options-field.active::after {
  content: "";
  position: absolute;
  z-index: 9;
  top: 32px;
  right: 24px;
  transform: translateX(-25%);
  height: 40px;
  width: 40px;
  background-color: whitesmoke;
  clip-path: polygon(50% 40%, 100% 100%, 0 100%);
}

#line {
  width: 100%;
  height: 1px;
  background-color: whitesmoke;
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999999;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.2);
  display: flex;
  pointer-events: none;
  opacity: 0;
}

.overlay.active {
  pointer-events: auto;
  opacity: 1;
}

.modal {
  margin: auto auto;
  z-index: 9999999;
  height: fit-content;
  width: 500px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 5px gray;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
}

.close-btn {
  width: 100%;
  display: flex;
  justify-content: end;
}

.close-btn .close {
  border: none;
  background: none;
  padding: 0;
  width: 24px;
  height: 24px;
  font-size: 16px;
  color: black;
  cursor: pointer;
  stroke-width: 1.5px;
  stroke: black;
}

.modal-title,
.modal-desc {
  margin: 0;
  text-align: center;
}

.modal-title {
  font-size: 18px;
  font-weight: 600;
  color: var(--primary-black);
  margin-bottom: 36px;
}

.modal-desc {
  font-size: 14px;
  font-weight: normal;
  color: var(--primary-black);
}

.modal-actions {
  width: 100%;
  display: inline-flex;
  gap: 20px;
  justify-content: center;
}

.cancel-btn,
.accept-btn {
  height: 40px;
  width: 200px;
  border-radius: 4px;
  border: none;
  text-transform: uppercase;
  font-size: 11px;
  font-weight: 600;
  cursor: pointer;
}

.cancel-btn {
  color: var(--secondary-gray);
  background-image: linear-gradient(#f0f4f9, #d3dde8);
}

.accept-btn {
  color: white;
  background-image: linear-gradient(#01a19a, #00726c);
}
